<h1><%= params[:usertag] %></h1>
<% if @usertagged %>
  <% @usertagged.each do |usertagged| %>
    <%= render_usertaggable usertagged %>
  <% end -%>
<% else -%>
  <p>There is no match for the <em><%= params[:usertag] %></em> usertag.</p>
<% end -%>